<h1>Homepage</h1>

<%= link_to "challenge 01", challenge01_path  %>
<%= link_to "challenge 02", challenge02_path  %>
<%= link_to "challenge 03", challenge03_path  %>
<%= link_to "challenge 04", challenge04_path  %>
<%= link_to "challenge 05", challenge05_path  %>
<%= link_to "challenge 06", challenge06_path  %>
